<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gesture</key>
	<dict>
		<key>ViewController/gestureclicked:</key>
		<dict>
			<key>EventParam</key>
			<dict>
				<key>tips</key>
				<string></string>
			</dict>
			<key>EventName</key>
			<string>gesture</string>
		</dict>
	</dict>
	<key>ViewController</key>
	<dict>
		<key>SecondViewConmtroller/viewDidLoad</key>
		<dict>
			<key>EventParam</key>
			<dict>
				<key>text</key>
				<string></string>
				<key>tips</key>
				<string></string>
			</dict>
			<key>EventName</key>
			<string>ViewController</string>
		</dict>
	</dict>
	<key>CollectionView</key>
	<dict>
		<key>ThirdViewController/0</key>
		<dict>
			<key>viewcontroller</key>
			<true/>
			<key>EventParam</key>
			<dict>
				<key>text</key>
				<string></string>
				<key>tips</key>
				<string></string>
			</dict>
			<key>EventName</key>
			<string>collectionview</string>
		</dict>
	</dict>
	<key>TableView</key>
	<dict>
		<key>SecondViewConmtroller/0</key>
		<dict>
			<key>viewcontroller</key>
			<true/>
			<key>EventParam</key>
			<dict>
				<key>text</key>
				<string></string>
				<key>tips</key>
				<string></string>
			</dict>
			<key>EventName</key>
			<string>tableView</string>
		</dict>
	</dict>
	<key>Action</key>
	<dict>
		<key>ViewController/didPressedButton:/0</key>
		<dict>
			<key>EventParam</key>
			<dict>
				<key>text</key>
				<string></string>
				<key>content</key>
				<string></string>
				<key>tips</key>
				<string></string>
				<key>name</key>
				<string></string>
			</dict>
			<key>EventName</key>
			<string>button</string>
		</dict>
	</dict>
</dict>
</plist>
